server {
    listen 80;
    server_name e-academy.cyber-arabs.com;
    location / {
        return 301 https://e-academy.cyber-arabs.com$request_uri;
    }
}

server {
    listen 443 ssl http2; 
    limit_conn arbeit 32;
    server_name e-academy.cyber-arabs.com;
    access_log <%= node['nginx']['log_dir'] %>/e-academy.ca.com_access.log;
    error_log  <%= node['nginx']['log_dir'] %>/e-academy.ca.com_error.log;
    root <%= node['nginx']['default_root'] %>;
    index index.php index.html;
    client_max_body_size 128M;

    ssl on;
    ssl_certificate       <%= node['nginx']['ssl_dir'] %>/e-academy.cyber-arabs.com/academy_ssl.crt;
    ssl_certificate_key   <%= node['nginx']['ssl_dir'] %>/e-academy.cyber-arabs.com/academy_ssl.key;
    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 10m;
    ssl_ciphers 'ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4';
    ssl_prefer_server_ciphers on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_dhparam <%= node['nginx']['ssl_dir'] %>/e-academy.cyber-arabs.com/dhparam.pem;

    if ($bad_bot) {
        return 444;
    }

    if ($bad_referer) {
        return 444;
    }

    add_header Cache-Control "store, must-revalidate, post-check=0, pre-check=0";
    add_header Strict-Transport-Security "max-age=86400";

    location = /favicon.ico {
        try_files $uri =204;
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location = /readme.html {
        deny all;
    }

    location / {
        
        try_files $uri $uri/ /index.php$is_args$args;

        location ~ ^(?<script>.+install\.php)(?<path_info>.*)$ {
            include fastcgi.conf;
            fastcgi_param SCRIPT_FILENAME $document_root$script;
            fastcgi_param SCRIPT_NAME $script;
            fastcgi_param PATH_INFO $path_info;
            fastcgi_pass phpcgi;
            
        }

        location ~ ^(?<script>.+\.php)(?<path_info>.*)$ {
            include fastcgi.conf;
            fastcgi_param SCRIPT_FILENAME $document_root$script;
            fastcgi_param SCRIPT_NAME $script;
            fastcgi_param PATH_INFO $path_info;
            fastcgi_pass phpcgi;
        }

        location ~* ^.*(\.(?:git|svn|htaccess|txt|pot?))$ {
            return 404;
        }

        location ~* \.(?:css|gif|htc|ico|js|jpe?g|png|swf)$ {
            expires max;
            log_not_found off;
            tcp_nodelay off;
            open_file_cache max=1000 inactive=120s;
            open_file_cache_valid 45s;
            open_file_cache_min_uses 2;
            open_file_cache_errors off;
        }
        
        location ~* \.(eot|ttf|woff)$ {
            add_header Access-Control-Allow-Origin *;
        }

        location ~* ^.+\.(?:ogg|pdf|pptx?)$ {
            expires 30d;
            tcp_nodelay off;
        }
    } 

    location @nocache {
        try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    include apps/e-academy.cyber-arabs/access.conf;

}
